
/* Globals --------------------------------------------------------------------- */

@font-face {
    font-family: Yanone_Kaffeesatz;
    src: url(assets/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

.box-shadow {
    box-shadow: #a6a6a6 4px 4px 8px;
}

body {
    font-family: Yanone_Kaffeesatz;
}

.btn.btn-primary {
    background-color: #211d5a;
    border: #a6a6a6 1px solid;
}

.mobile {
    display: none;
}



/* navbar -------------------------------------------------------------------------- */

.navbar button {
    margin-right: 20%;
}



/* ------------------------------------------------------------------------------- */
/* Intro Title */

.intro-box {
    display: flex;
    height: 10vh;
    margin-top: 14vh;
}

.intro-box h1 {
    text-align: center;
    margin: auto;
    position: relative;
    color: #211d5a;
}

.slide-right-horse{
    
	animation: slide-right-horse 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* scale: 0%; */
}

.jumbotron {
    display: block;
    /* background: none; */
}


.slide-right-title{
    /* font-size: larger; */
    text-align: center;
    padding-left: 5vw;
	animation: slide-right-title 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* scale: 50%; */
}





/* ----------------------------------------------------------------------------- */
/* Main container */



.card-group.animate__animated.animate__fadeIn {
    animation-delay: 2.5s;
    margin-top: 5%;
    /* border: 1px solid grey; */
    border-radius: 15px;
    
}

.card {
    border: 1px solid grey;
    border-radius: 15px;
    /* box-shadow: #211d5a 2px 2px 5px; */
   
    
    /* background: grey; */
}



.card.card-main {
    border: 1px solid grey;
    border-radius: 15px;
    background: grey;
    display: flex;
    justify-content: center;
    color: #FFFF;
    text-align: center;
    
}

.card-img-top {
    width: 50px;
    /* height: 80px; */
    margin-left: 45%;
    margin-top: 8%;
    padding-bottom: 8%;
}

h4.card-text.card-text-main {
    margin-bottom: 8%;
}

.card-body-image-main {
    padding: 0;
    
}

.card-body-image-main img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}



/* ----------------------------------------------------------------------------- */
/* Sponsors */

.sponsor-container {
    margin-top: 5vh;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* height: 10vh; */
    border: 1px grey solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 15px;
    animation: fadeIn 2s;
    animation-delay: 3.3s;
    
}

/* section2 ---------------------------------------------------------------------- */

.container.container-section2 {
    margin-top: 10vh;
    text-align: center;
    color: #211d5a;
}

.card-body-icons {
    display: flex;
    justify-content: space-evenly;
}

.card-body-icons img:first-of-type {
    /* padding-right: 8vw; */
    padding-bottom: 5vh;
}

.card-body-icons img:last-of-type {
    /* padding-left: 8vw; */
    padding-bottom: 5vh;
}

.card-body-icons h1:first-of-type {
    /* padding-right: 8vw; */
    padding-top: 3vh;
}

.container-section2 .card-body p {
    padding-bottom: 3vh;
    font-size: larger;
}

.card-body.section2 img {
    border-radius: 15px;
    margin-bottom: 5vh;
}

/* carousel--------------- */

#slider {
    /* height: 350px;
    overflow: hidden;
    width: 100%; */
}

.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
    /* height: 350px; */
    /* width: 75%; */
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}
.carousel-indicators {
    bottom: 50px;
}


/* ------------------------------------------------------------- */

.footer {
    margin-top: 15vh;
    background-color: #a9a9a9;
    color: #151515;
}

.footer.contact-us {
    border: 1px #151515 solid;
    border-radius: 15px;
}

.footer a {
    color: #151515;
}

.footer a:hover {
    transform: scale(1.2);
}

/* Make an enquiry --------------------------------------------- */

#fs-frm-inputs {
    display: flex;
    flex-direction: column;
}


/* ------------------------------------------------------------- */
/* animations */


/* ----------------------------------------------
 * Generated by Animista on 2021-12-16 10:51:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @keyframes slide-right-horse {
    0% {
      transform: translateX(-100vw);
    }
    99% {
      transform: translateX(135vw);
      visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: translateX(-50vw);
    }
  }

  @keyframes slide-right-title {

    0% {transform: translate3d(-280%,0,0) skewX(30deg);}   
  }

  @keyframes arrow {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



  
/* -------------------------------------------------------------------------------- */
/* Bootstrap 4 breakpoints */ 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
    




    @keyframes slide-right-horse {
        0% {
          transform: translateX(-100vw);
        }
        99% {
          transform: translateX(80vw);
          visibility: hidden;
        }
        100% {
            visibility: hidden;
            transform: translateX(-80vw);
        }
      }

      .row.row-desktop,
      .desktop {
          visibility: hidden;
      }

      /* .mobile {
          visibility: visible;
      } */
      /* ------------------------------ */
      .intro-box {
        display: flex;
        justify-content: center;
        height: 10vh;
        margin-top: 18vh;
      
    }
      .intro-box h1 {
          font-size: x-large;
          margin-left: 10%;
      }

      /* ----------------------------------- */
      .card.card-main {
          width: 100% !important;
      }

      .card-img-top {
        display: none;
    }
    .card-body-image-main img {
        border-radius: 15px 15px 0px 0px;
        
    }

    
    /* ---------------------------------------- */
    .card-body-icons {
        margin-bottom: 3vh;
    }
    .card-body-icons h1 {
        font-size: xx-large;
    }
    .card-body-icons img {
        scale: 0.5;
    }
    .card-body.section2 img {
        border-radius: 15px;
    }

}

@media screen and (min-width: 576px) {  
    
    
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    /* .mobile {
        visibility: visible;
    }
    .desktop {
        visibility: hidden;
    } */
    
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* .mobile {
        visibility: visible;
    }
    .desktop {
        visibility: hidden;
    } */
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    /* .mobile {
        visibility: hidden;
    } */
}  